[Unit]
Description=Motion Detection for Raspberry Pi
After=multi-user.target

[Service]
Type=simple
ExecStart=python /home/pi/Pi-Motion/main.py
User=pi
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target