[Unit]
Description=Motion Detection for Raspberry Pi
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Pi-Motion
ExecStart=python -u /home/pi/Pi-Motion/main.py
User=pi
Restart=on-failure
TimeoutStopSec=120

# Send SIGINT instead of the default SIGTERM, as SIGINT is interpreted by Python as KeyboardInterrupt
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target