<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Motion Detection - Captures</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
<div class="tab-container">
	<a class="tab" href="{{ url_for('live') }}">Live</a>
	<a class="tab active" href="">Captures</a>
</div>
<div class="content-container captures">
	<table>
		<thead>
		<tr>
			<th>Date / time</th>
			<th>Length</th>
			<th>Max motion</th>
			<th>Max <abbr title="Sum of absolute differences">S.A.D</abbr></th>
			<th>Motion graph</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for day, items in grouped.items() %}
		<tr class="day-header">
			<td colspan="6">{{ day.strftime('%A, %d %B %Y') }}</td>
		</tr>
		{% for item in items %}
		<tr class="item">
			<td><a href="{{ url_for('play_capture', name=item.name) }}">{{ item.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</a></td>
			<td>{{ item.length }}</td>
			<td>{{ item.max_motion }}</td>
			<td>{{ item.max_sad }}</td>
			<td>
				<img class="motion-graph" src="{{ url_for('max_motion_graph', name=item.name) }}" title="Graph of largest motion per block in each frame">
			</td>
			<td class="download">
				<a href="{{ url_for('download_capture', name=item.name) }}" download>
					<img src="{{ url_for('static', filename='download.svg') }}" alt="download">
				</a>
			</td>
		</tr>
		{% endfor %}
		{% endfor %}
		</tbody>
	</table>
</div>
</body>
</html>