
:root {
	--main-border-radius: 8px;
}

body {
	font-family: sans-serif;
	max-width: 1328px;
	margin: 20px auto;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/********************************/
/*  Tabs                        */
/********************************/

.tab {
	display: inline-block;
	min-width: 100px;
	padding: 10px;
	border-top-left-radius: var(--main-border-radius);
	border-top-right-radius: var(--main-border-radius);
	text-align: center;
}


/* Override other rules for <a> */
a.tab:hover {
	text-decoration: none;
}
a.tab:visited {
	color: inherit;
}


/********************************/
/*  General content             */
/********************************/

.content-container {
	position: relative;
	padding: 14px;
	border-radius: var(--main-border-radius);
	border-top-left-radius: 0px;
}


/********************************/
/*  Live page                   */
/********************************/

.live img.live-stream {
	max-width: 100%;
	height: auto;
	border: 2px solid black;
	background: black;
}

.live .camera-controls {
	display: grid;
	gap: 6px 16px;
}

.live select,
.live input {
	height: 26px;
	box-sizing: border-box;
}

.live .control-item {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.live .control-item label:first-child::after {
	content: ":";
}

.live .control-item select#awb_mode,
.live .control-item select#exposure_mode {
	max-width: 100px;
}

.slider-wrap {
	display: flex;
	flex-direction: column;
	flex: 0 1 280px;
}

.slider-ticks {
	display: flex;
	/* TODO:
	 This makes even spacing between numbers, but since each number can have a different width it means
	 they aren't precisely aligned. e.g. with "0  50  100" and "-100  0  100" the 50 is not lined up with the 0.
	 Need to figure out how to center each number. */
	justify-content: space-between;
	font-size: 0.7rem;
	margin-top: -4px;
	opacity: 0.7;
}

/* Ordering of controls in grid */
#awb-mode-item              { grid-row: 1; grid-column: 1; }
#exposure-mode-item         { grid-row: 2; grid-column: 1; }
#exposure-compensation-item { grid-row: 3; grid-column: 1; }
#iso-item                   { grid-row: 4; grid-column: 1; }
#brightness-item            { grid-row: 1; grid-column: 2; }
#contrast-item              { grid-row: 2; grid-column: 2; }
#saturation-item            { grid-row: 3; grid-column: 2; }
#sharpness-item             { grid-row: 4; grid-column: 2; }
#rotation-item              { grid-row: 1; grid-column: 3; }
#hflip-item                 { grid-row: 2; grid-column: 3; }
#vflip-item                 { grid-row: 3; grid-column: 3; }
#video-denoise-item         { grid-row: 4; grid-column: 3; }
#annotate-text-size-item    { grid-row: 5; grid-column: 3; }

#awb-mode-item label,
#exposure-mode-item label,
#exposure-compensation-item label,
#iso-item label,
#annotate-text-size-item label {
	flex: 0 1 140px;
}

#brightness-item label,
#contrast-item label,
#saturation-item label,
#sharpness-item label {
	flex: 0 1 90px;
}


/********************************/
/*  Captures page               */
/********************************/

.captures table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

.captures table th,
.captures table td {
	text-align: left;
	padding: 8px 20px;
}

.captures table td {
	border: 1px solid transparent;
}

.captures table tr.day-header td {
	padding: 20px 4px 8px 4px;
}

.captures table tr.day-header td::after {
	content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid;
}

.captures table tr.item td:first-child {
	border-top-left-radius: var(--main-border-radius);
	border-bottom-left-radius: var(--main-border-radius);
}
.captures table tr.item td:last-child {
	border-top-right-radius: var(--main-border-radius);
	border-bottom-right-radius: var(--main-border-radius);
}

.captures td.download {
	text-align: right;
}

.captures td.download img {
	width: 20px;
	height: 20px;
}

.captures td > .motion-graph {
	display: block;
    height: 20px;
    max-width: 600px;
}


/********************************/
/*  Play page                   */
/********************************/

.play video {
	display: block;
	max-width: 100%
}

.play .back {
	margin-top: 8px;
	padding: 12px;
}

.play .back > a:visited {
	color: inherit;
}

.play .motion-graph,
.play .sad-graph {
	display: block;
	margin: 4px 0;
    height: 20px;
    width: 100%;
}


/********************************/
/*  Video controls              */
/********************************/

.video-player .controls {
	display: flex;
	margin: 8px 0;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.video-player .controls button {
	width: 30px;
	height: 30px;
	padding: 4px;
	border: 1px solid;
	border-radius: 6px;
	cursor: pointer;
	user-select: none;
}

.video-player .controls .prev-frame-button,
.video-player .controls .next-frame-button {
	padding: 6px;   /* To make icons a little smaller */
}

.video-player .controls .prev-frame-button img {
	transform: scaleX(-1);
}

.video-player .time-text {
	min-width: 90px;
	margin-left: 12px;
	text-align: left;
	font-size: 13px;
}

.progress-wrap {
	margin: 12px 0;
}

/* Use thick border with 0 height so that thumb appears entirely within the bar
   and doesn't extend beyond it when at start or end. */
.progress-bar,
.progress-bar .buffer-range,
.progress-bar .played-bar {
	height: 0px;
	border-width: 8px;
	border-style: solid;
	border-radius: var(--main-border-radius);
}
.progress-bar .buffer-range,
.progress-bar .played-bar {
	position: absolute;
	top: -8px;
	left: -8px;
}

.progress-bar {
	position: relative;
	cursor: pointer;
}

.progress-bar .thumb {
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 12px;
	height: 12px;
	pointer-events: auto;
	background: hsl(0deg 0% 90%);
	border: 3px solid;
	border-radius: 50%;
}
