
body {
	font-family: sans-serif;
	max-width: 1328px;
	margin: 20px auto;
	color: hsl(0deg 0% 93%);
	background: hsl(0deg 0% 7%);
}

a {
	color: hsl(44, 10%, 85%);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.tab {
	display: inline-block;
	min-width: 100px;
	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	color: hsl(44, 100%, 94%);
}

.tab {
	background: hsl(0deg 0% 9%);
}

.tab:hover:not(.active) {
	background: hsl(271, 50%, 40%);
}
a.tab:hover {
	text-decoration: none;  /* Override above rule for <a> */
}

.tab.active {
	background: hsl(0deg 0% 13%);
}

.content-container {
	position: relative;
	padding: 14px;
	border-radius: 8px;
	border-top-left-radius: 0px;
	background: hsl(0deg 0% 13%);
}

img.live {
	max-width: 100%;
	height: auto;
	border: 2px solid black;
}

.icon {
	width: 20px;
	height: 20px;
	filter: brightness(91%);  /* Assumes svg is white */
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

table th {
	text-align: left;
	padding: 8px 26px;
}

table td {
	text-align: left;
	padding: 8px 20px;
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
}
table tbody tr td:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
table tbody tr td:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

table tbody tr:not(:hover):nth-child(even) {
	background: hsl(0deg 0% 15%);
}

table tbody tr:hover {
	background-color: hsl(271, 50%, 40%);
}
table tbody tr:hover td {
	border-top-color: hsl(271, 60%, 60%);
	border-bottom-color: hsl(271, 60%, 60%);
}
table tbody tr:hover td:first-child {
	border-left-color: hsl(271, 60%, 60%);
}
table tbody tr:hover td:last-child {
	border-right-color: hsl(271, 60%, 60%);
}