
:root {
	--text-colour: hsl(0deg 0% 93%);
	--primary-colour-hue: 271deg;
	--primary-colour: hsl(var(--primary-colour-hue) 50% 40%);
	--primary-colour-highlight: hsl(var(--primary-colour-hue) 60% 60%);
	--main-border-radius: 8px;
}

body {
	font-family: sans-serif;
	max-width: 1328px;
	margin: 20px auto;
	color: var(--text-colour);
	background: hsl(0deg 0% 7%);
}

a {
	color: hsl(44deg, 10%, 85%);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: hsl(44deg, 20%, 50%);
}


/********************************/
/*  Tabs                        */
/********************************/

.tab {
	display: inline-block;
	min-width: 100px;
	padding: 10px;
	border-top-left-radius: var(--main-border-radius);
	border-top-right-radius: var(--main-border-radius);
	text-align: center;
	color: hsl(44deg 100% 94%);
}

.tab {
	background: hsl(0deg 0% 9%);
}

.tab:hover:not(.active) {
	background-color: var(--primary-colour);
}

/* Override other rules for <a> */
a.tab:hover {
	text-decoration: none;
}
a.tab:visited {
	color: inherit;
}

.tab.active {
	background: hsl(0deg 0% 13%);
}


/********************************/
/*  General content             */
/********************************/

.content-container {
	position: relative;
	padding: 14px;
	border-radius: var(--main-border-radius);
	border-top-left-radius: 0px;
	background: hsl(0deg 0% 13%);
}


/********************************/
/*  Live page                   */
/********************************/

.live img.live-stream {
	max-width: 100%;
	height: auto;
	border: 2px solid black;
	background: black;
}


/********************************/
/*  Captures page               */
/********************************/

.captures table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

.captures table th,
.captures table td {
	text-align: left;
	padding: 8px 20px;
}

.captures table td {
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
}
.captures table tbody tr td:first-child {
	border-top-left-radius: var(--main-border-radius);
	border-bottom-left-radius: var(--main-border-radius);
}
.captures table tbody tr td:last-child {
	border-top-right-radius: var(--main-border-radius);
	border-bottom-right-radius: var(--main-border-radius);
}

.captures table tbody tr:not(:hover):nth-child(even) {
	background: hsl(0deg 0% 15%);
}

.captures table tbody tr:hover {
	background: linear-gradient(0deg, hsl(var(--primary-colour-hue) 50% 30%), hsl(var(--primary-colour-hue) 50% 50%));
}
.captures table tbody tr:hover td {
	border-top-color: var(--primary-colour-highlight);
	border-bottom-color: hsl(var(--primary-colour-hue) 60% 50%);
}
.captures table tbody tr:hover td:first-child {
	border-left-color: var(--primary-colour-highlight);
}
.captures table tbody tr:hover td:last-child {
	border-right-color: var(--primary-colour-highlight);
}

.captures td.download {
	text-align: right;
}

.captures td.download img {
	width: 20px;
	height: 20px;
	filter: brightness(94%);  /* Assumes svg is white */
}

.captures td > .motion-graph {
	display: block;
    height: 20px;
    max-width: 600px;
}


/********************************/
/*  Play page                   */
/********************************/

.play video {
	display: block;
	max-width: 100%
}

.play .back {
	margin-top: 8px;
	padding: 12px;
}

.play .back > a:visited {
	color: inherit;
}

.play .motion-graph,
.play .sad-graph {
	display: block;
	margin: 4px 0;
    height: 20px;
    width: 100%;
}


/********************************/
/*  Video controls              */
/********************************/

.video-player .controls {
	display: flex;
	margin: 8px 0;
	border-radius: 8px;
	align-items: center;
	gap: 12px;
}

.play-button {
	width: 30px;
	height: 30px;
	color: var(--text-colour);
	background: transparent;
	border-radius: 6px;
	border: 1px solid hsl(0deg 0% 20%);
	cursor: pointer;
	user-select: none;
}

.play-button:hover {
	border-color: var(--primary-colour-highlight);
	background: var(--primary-colour);
}

.play-button:active {
	background: hsl(var(--primary-colour-hue) 60% 40%);
}

.time-text {
	min-width: 90px;
	text-align: left;
	font-size: 13px;
}

.progress-wrap {
	margin: 12px 0;
}

/* Use thick border with 0 height so that thumb appears entirely within the bar
   and doesn't extend beyond it when at start or end. */
.progress-bar,
.progress-bar .buffer-range,
.progress-bar .played-bar {
	height: 0px;
	border-width: 8px;
	border-style: solid;
	border-radius: var(--main-border-radius);
}
.progress-bar .buffer-range,
.progress-bar .played-bar {
	position: absolute;
	top: -8px;
	left: -8px;
}

.progress-bar {
	position: relative;
	cursor: pointer;
	border-color: hsl(0deg 0% 25%);
}

.progress-bar .buffer-range {
	opacity: 0.7;
	border-color: hsl(0deg 0% 35%);
}

.progress-bar .played-bar {
	border-color: var(--primary-colour);
	pointer-events: none;
}

.progress-bar .thumb {
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 12px;
	height: 12px;
	background: hsl(0deg 0% 90%);
	border: 3px solid hsl(var(--primary-colour-hue) 50% 50%);
	border-radius: 50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	pointer-events: auto;
}

.progress-bar .thumb:hover {
	border-color: hsl(var(--primary-colour-hue) 50% 60%);
}