
:root {
	--selection-colour: hsl(271, 50%, 40%);
	--selection-colour-outline: hsl(271, 60%, 60%);
	--main-border-radius: 8px;
}

body {
	font-family: sans-serif;
	max-width: 1328px;
	margin: 20px auto;
	color: hsl(0deg 0% 93%);
	background: hsl(0deg 0% 7%);
}

a {
	color: hsl(44, 10%, 85%);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: hsl(44, 20%, 50%);
}


/********************************/
/*  Tabs                        */
/********************************/

.tab {
	display: inline-block;
	min-width: 100px;
	padding: 10px;
	border-top-left-radius: var(--main-border-radius);
	border-top-right-radius: var(--main-border-radius);
	text-align: center;
	color: hsl(44, 100%, 94%);
}

.tab {
	background: hsl(0deg 0% 9%);
}

.tab:hover:not(.active) {
	background-color: var(--selection-colour);
}

/* Override other rules for <a> */
a.tab:hover {
	text-decoration: none;
}
a.tab:visited {
	color: inherit;
}

.tab.active {
	background: hsl(0deg 0% 13%);
}


/********************************/
/*  General content             */
/********************************/

.content-container {
	position: relative;
	padding: 14px;
	border-radius: var(--main-border-radius);
	border-top-left-radius: 0px;
	background: hsl(0deg 0% 13%);
}


/********************************/
/*  Live page                   */
/********************************/

.live img.live-stream {
	max-width: 100%;
	height: auto;
	border: 2px solid black;
}


/********************************/
/*  Captures page               */
/********************************/

.captures table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

.captures table th,
.captures table td {
	text-align: left;
	padding: 8px 20px;
}

.captures table td {
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
}
.captures table tbody tr td:first-child {
	border-top-left-radius: var(--main-border-radius);
	border-bottom-left-radius: var(--main-border-radius);
}
.captures table tbody tr td:last-child {
	border-top-right-radius: var(--main-border-radius);
	border-bottom-right-radius: var(--main-border-radius);
}

.captures table tbody tr:not(:hover):nth-child(even) {
	background: hsl(0deg 0% 15%);
}

.captures table tbody tr:hover {
	background-color: var(--selection-colour);
}
.captures table tbody tr:hover td {
	border-top-color: var(--selection-colour-outline);
	border-bottom-color: var(--selection-colour-outline);
}
.captures table tbody tr:hover td:first-child {
	border-left-color: var(--selection-colour-outline);
}
.captures table tbody tr:hover td:last-child {
	border-right-color: var(--selection-colour-outline);
}

.captures td.download {
	text-align: right;
}

.captures td.download img {
	width: 20px;
	height: 20px;
	filter: brightness(94%);  /* Assumes svg is white */
}

.captures td > .motion-graph {
	display: block;
    height: 20px;
    max-width: 600px;
}


/********************************/
/*  Play page                   */
/********************************/

.play video {
	max-width: 100%
}

.play .back {
	margin-top: 8px;
	padding: 12px;
}

.play .back > a:visited {
	color: inherit;
}

.play .motion-graph,
.play .sad-graph {
	display: block;
	margin: 4px 0;
    height: 20px;
    width: 100%;
}