
body {
	font-family: sans-serif;
	max-width: 1328px;
	margin: 20px auto;
	color: hsl(0deg 0% 93%);
	background: hsl(0deg 0% 7%);
}

.tab {
	display: inline-block;
	min-width: 100px;
	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	color: hsl(44, 100%, 96%);
	text-decoration: none;
}

.tab {
	background: hsl(0deg 0% 9%);
}

.tab:hover:not(.active) {
	background: hsl(271, 50%, 40%);
}

.tab.active {
	background: hsl(0deg 0% 13%);
}

.content-container {
	position: relative;
	padding: 14px;
	border-radius: 8px;
	border-top-left-radius: 0px;
	background: hsl(0deg 0% 13%);
}

img.live {
	max-width: 100%;
	height: auto;
	border: 2px solid black;
}