
body {
	font-family: sans-serif;
	max-width: 1080px;
	margin: 20px auto;
	color: hsl(0deg 0% 93%);
	background: hsl(0deg 0% 7%);
}

/*
Nice colours, maybe use for hover/link states
purple colour: hsl(271, 50%, 40%);
dark red: hsl(0, 50%, 40%);
*/

.tab-container {
	position: relative;
	margin-bottom: -6px;  /* To move it below the content-container's border radius */
	z-index: 0;
}

.tab {
	display: inline-block;
	min-width: 100px;
	padding: 10px;
	padding-bottom: 16px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	color: hsl(44, 100%, 96%);
	text-decoration: none;
}

.tab:hover:not(.active) {
	background: hsl(0deg 0% 30%);
}

.tab.active {
	background: hsl(0deg 0% 11%);
}

.content-container {
	position: relative;
	padding: 14px;
	border-radius: 8px;
	border-top-left-radius: 0px;
	background: hsl(0deg 0% 11%);
}

img.live {
	width: 100%;
	height: auto;
	border: 2px solid black;
}